body {
background-color:black;
color:white;
font-family: "Arial";
margin: 0 2%;
}
ul.subforum {
list-style-type:none;
margin: 0 0 5%;
padding: 0;
}
ul.subforum li {
border: 3px solid rgba(255, 165, 0, 0.5);
border-top:none;
padding: 13px 0 10px 20px;
}

ul.subforum li.header {
margin-bottom: 3px;
display:block;
background-color: rgba(255, 165, 0, 0.9);
border-color: rgba(255, 255, 255, 0);
}
li.header a {
display:block;
font-size: 22px;
color: black
}
ul.subforum li.header:hover {
background-color:rgb(147, 55, 237);
border-color: rgb(147, 55, 237);
}
a:link {
font-weight:bold;
text-decoration:none;
color:orange;
}

p.history a {
font-weight: normal;
}

a:visited {
color:orange;
}
a:hover {
color:rgb(147, 55, 237);
}
ul.options {
list-style-type: none;
display: inline-block;
padding:0;
float:right;
}
div.header {
margin-right: 0.9%;
height: 60px;
}
ul.options li {
float:left;
height: 35px;
padding: 0;
margin-left: 15px;
}

li#profile a {
float:right;
}
.options a {
margin-left: 3px;
margin-right: 5px;
}
/*img {
border: 3px groove rgb(147, 55, 237);
border-radius: 1px;
}*/
.subforum div {
font-size: 14px;
display: inline-block;
vertical-align:middle;
}
div.subforum {
width: 30%;
}
div.stats {
margin-left: 20%;
margin-right: 10%;
width: 130px;
}
div.lastthread {
width: 280px;
}
p.lastthread {
margin-left: 5px;
}
.subforum a {
font-size: 20px;
}
.lastthread a {
font-size: 14px;
}
a.secondary {
font-size: 14px;
font-weight: normal;
}
p.lastthread {
display: inline-block;
}

ul.subforum li:nth-of-type(2){
border-top: 3px solid rgba(255, 165, 0, 0.5);
}
/* Links that look like buttons styling */
a.button, input[type=submit] {
display: inline-block;
padding: 3px 8px;
border: 2px solid rgba(255, 165, 0, 0.1);
border-radius: 1px;
background-color: rgba(255, 165, 0, 0.9);
color: black;
}
a.button:hover, input[type=submit]:hover {
background-color: rgb(147, 55, 237);
border-color: rgb(147, 55, 237);
transition: 0.3s;
}
form {
margin: 30px 0;
}
/* form styling */
input:not(.excluded), textarea {
border: 3px solid rgba(255, 165, 0, 0.5);
border-radius: 1px;
color: white;
background-color: rgb(20, 20, 20);
font-size: 16px;
padding: 10px;
resize: none;
width: 100%;
}
input[type=file]{
border: none;
background-color: black;
padding: 0;
margin: 10px 0;

}
input:not(.excluded):focus, textarea:focus{
border-color: rgb(147, 55, 237);
transition: 0.3s;
}
input[type=submit] {
margin-top: 7px;
font-size: 18px;
}
.post {
width: 70%;
}
.post input {
margin-bottom: 10px;
}
/* Form errors styling */
/*table {
text-align: left;}*/
.tooltip {
width: 30%;
position:relative;
display:inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgba(255, 165, 0, 1);
    color: black;
    text-align: center;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
form ul, form ul li {
padding:0;
margin: 0;
}
form ul li {
list-style-type: none;
margin-bottom: 10px;
}
li.error {
margin: 0 0 0 0px;
}
label {
display: inline-block;
width: 180px;
margin-right: 10px;
}
.error, .errorlist {
color: red;
}
img {
border: 1px solid rgba(255, 255, 255, 0.2);
}