body {
background-color:black;
color:white;
width: 97%;
}
ul.subforum {
list-style-type:none;
margin: 0 1% 5% 1%;
padding: 0;

}
ul.subforum li {
border: 3px solid orange;
border-top:none;
padding: 13px 0 10px 2%;
}

div.stats, div.lastthread, div.subforum {
display: inline-block;
vertical-align:top;
}
p {
line-height:1.4;
}
p.subtitle {
font-size: 18px;
}

p.lastthread a {
font-weight: normal;
white-space: nowrap;
overflow: hidden;
display: inline-block;
width: 160px;
font-size: 16px;
text-overflow: ellipsis;
}
.subdescr {
font-size: 14px;
}
div.stats, div.lastthread {
font-size: 14px;
}
div.subforum {
width:40%;
height: 100px;
}
div.lastthread {
width: 200px;
height: 100px;
padding-top: 0px;
}
div.stats {
width:auto;
margin-left: 10%;
height: 92px;
padding-top: 8px;
}
div.list {
width: 98%;
}
a:link {
font-weight:bold;
text-decoration:none;
color:orange;
}
p.history {
margin-left: 1%;
}
p.history a {
font-weight: normal;
}
a:visited {
color:orange;
}
a:hover {
color:rgb(147, 55, 237);
}
li.header {
display:block;
background-color: orange;
}
li.header a {
padding-top: 3px;
display:block;
font-size: 22px;
color: black
}
li.header:hover {
background-color:rgb(147, 55, 237);
border-color: rgb(147, 55, 237);
}
ul.options {
list-style-type: none;
display: inline-block;
padding:0;
float:right;
}
div.header {
height: 60px;
margin-right: 2%;
}
ul.options li {
float:left;
height: 35px;
padding: 0px 10px 0px;
margin-left: 15px;
}

li#profile a {
vertical-align: top;
}
img {
border: 3px groove rgb(147, 55, 237);
border-radius: 1px;
}

/* Links that look like buttons styling */
a.button, input[type=submit] {
display: inline-block;
padding: 3px 8px;
border: 2px solid orange;
border-radius: 1px;
background-color: orange;
color: black;
}
a.button:hover, input[type=submit]:hover {
background-color: rgb(147, 55, 237);
border-color: rgb(147, 55, 237);
transition: 0.3s;
}

/* Textarea form styling */
textarea, input[type=text] {
border: 3px solid orange;
border-radius: 1px;
color: white;
background-color: rgb(20, 20, 20);
font-size: 16px;
width: 70%;
padding: 10px;
resize: none;
}
textarea:focus, input[type=text]:focus {
border-color: rgb(147, 55, 237);
transition: 0.3s;
}
/* Form errors styling */
.errorlist {
list-style-type: none;
color: red;
}