h1 {
margin: 0 0 15px;
}
.profile, .message {
display: inline-block;
margin: 5px 0;
}
.message {
font-size: 16px;
margin-top: 6px;
min-height: 201px;
vertical-align: top;
border-bottom: 1px solid rgba(255, 165, 0, 0.5);
width: 75%;
word-break: normal;
text-align: justify;
}
.message a {
font-weight: normal;
}
.message>span>a {
font-size: 12px;
}
div.sign {
border-top: 1px solid rgba(255, 165, 0, 0.5);
padding: 6px 0;
}
.profile {
width: 220px;
text-align: center;
word-break: break-all;
}
.profile img, .profile a {
display: inline-block;
margin-bottom: 8px;
}
a.nick {
font-size: 16px;
}
a.messages {
font-weight: normal;
font-size: 14px;
}
.date {
padding: 1px 4px;
border: 1px solid rgba(255, 255, 255, 0.2);
background-color: black;
}

li.thread {
}
li.thread:first-of-type {
border-top: 3px solid rgba(255, 165, 0, 0.5);
}
div.text {
word-break: normal;
margin: 10px 0;
}