h1 {
margin: 0 1% 15px;
}
.profile, .message {
display: inline-block;
margin: 5px;
}
.message {
margin-top: 6px;
min-height: 204px;
vertical-align: top;
border-bottom: 1px solid orange;
width: 80%;
word-break: normal;
text-align: justify;
}
.message a {
font-weight: normal;
}
.message>span>a {
font-size: 12px;
}
p.sign {
border-top: 1px solid orange;
padding-top: 5px;
}
.profile {
text-align: center;
}
.profile img, .profile a {
display: inline-block;
margin-bottom: 8px;
}
a.nick {
font-size: 18px;
}
a.messages {
font-weight: normal;
font-size: 14px;
}
span.date {
padding: 1px 4px;
border: 1px solid white;
background-color: black;
}

#post {
margin: 30px 10px;
}
input[type=submit] {
margin-top: 7px;
font-size: 18px;
}
