{% extends 'forum/thread.html' %}
{% block title %}Search{% endblock %}
{% block links %}{% endblock %}
{% block body %}
<form action="{% url 'forum:search' %}" method="get">
{% include 'forum/form.html' %}
    <input class="excluded" type="submit" value="Search"/>
</form>
{% if query %}
<ul class="unattached">
    <li class="h3">{{ num_res }} results were found</li>
    {% for data in query %}
    <li class="thread ">
<p>{{ data.pub_date }}</p>
        {% if data.thread %}
<a href="{{ data.get_absolute_url }}">{{ data.thread.thread_title }}</a>
        {% else %}
        <a href="{{ data.get_absolute_url }}">{{ data.thread_title }}</a>
        {% endif %}
<p>{{ data.raw_text|truncatewords:100 }}</p>
        </li>
    {% endfor %}
</ul>
{% elif num_res == 0 %}
    <p class="center">No results were found</p>

{% endif %}
{% if query %}
<div id="pagebar">
    {% if 1 not in pages_list %}
    <a class="button" href="?page=1&{{ get }}">First</a>
    {% endif %}
    {% for n in pages_list %}
    {% if num_page != n %}
    <a class="button" href="?page={{ n }}&{{ get }}">{{ n }}</a>
    {% else %}
    <span class="page">{{ n }}</span>
    {% endif %}
    {% endfor %}
    {% if last_page not in pages_list %}
    <a class="button" href="?page={{ last_page }}&{{ get }}">Last ({{ last_page }})</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}