{% extends "forum/main_page.html" %}
{% block title %}{{ sub.title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sub_forum.css'%}"/>
{% endblock %}
{% block links %}
/<a href="{% url 'forum:category' sub.category.id %}">{{ sub.category.title }}</a>
{% endblock %}
{% block body %}
<div id="body">
    <h1>{{ sub.title }}</h1>
    {% if request.user.is_authenticated %}
    <div id="add"><a class="button" href="{% url 'forum:new_thread' sub.id %}">New thread</a></div>
    {% endif %}
    {% if attach_threads %}
    <ul class="attached">
    <li class="h3">Attached</li>
        {% for t in attach_threads %}
        <li class="thread">
                <div class="thread">
                    <a class="main" href="{% url 'forum:thread' t.id %}?page=1">{{ t.thread_title }}</a><br/>
                    by <a class="secondary" href="{% url 'forum:profile' t.user.id %}">
                    {{ t.user.username }}
                      </a>
                </div>
                <div class="pages">
                    {% for p in t.thread_pages %}
                    <a href="{% url 'forum:thread' t.id %}?page={{ p }}">{{ p }}</a>
                    {% endfor %}
                </div>
                <div class="posts">
                    Posts: {{ t.posts_num }}
                </div>
            <div class="threadinfo">
                <div class="pic">
                    <img {% if t.last_post.user.userprofile.avatar %}
                         src="{{ t.last_post.user.userprofile.avatar.url }}"
                         {% else %}
                         {% load staticfiles %}
                         src="{% static 'avatar.jpg' %}"
                         {% endif %}
                         width="30px" height="30px"/>
                </div>
                <div class="somelinks">
                    <a href="{{ t.last_post.get_absolute_url }}">
                        {{ t.last_post.pub_date }}
                    </a> by
                    <a class="secondary" href="{% url 'forum:profile' t.last_post.user.id %}">
                        {{ t.last_post.user.username }}
                    </a>
                </div>
                </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="unattached">
    <li class="h3">
        Threads
    </li>
        {% for t in threads %}
        <li class="thread">
            <div class="thread">
                <a class="main" href="{% url 'forum:thread' t.id %}?page=1">{{ t.thread_title }}</a><br/>
                by <a class="secondary" href="{% url 'forum:profile' t.user.id %}">
                    {{ t.user.username }}
                      </a>
            </div>
            <div class="pages">
                {% for p in t.thread_pages %}
                <a href="{% url 'forum:thread' t.id %}?page={{ p }}">{{ p }}</a>
                {% endfor %}
                {% if t.last_page not in t.thread_pages %}
                ...<a href="{% url 'forum:thread' t.id %}?page={{ t.last_page }}">
                {{ t.last_page }}</a>
                {% endif %}
            </div>
            <div class="posts">
                Posts: {{ t.posts_num }}
            </div>
            <div class="threadinfo">
                <div class="pic">
                <img
                        {% if t.last_post.user.userprofile.avatar %}
                        src="{{ t.last_post.user.userprofile.avatar.url }}"
                        {% else %}
                        {% load staticfiles %}
                        src="{% static 'avatar.jpg' %}"
                        {% endif %}
                        width="30px" height="30px"/>
                    </div>
                <div class="somelinks">
                <a href="{{ t.last_post.get_absolute_url }}">{{ t.last_post.pub_date }}</a> by
                <a class="secondary" href="{% url 'forum:profile' t.last_post.user.id %}">{{ t.last_post.user.username }}</a>
                    </div>
            </div>
        </li>
        {% empty %}
        <li class="thread">There is no threads yet</li>
        {% endfor %}
    </ul>
</div>
{% include 'forum/paginator.html' %}
{% endblock %}

