{% extends "forum/main_page.html" %}
{% block title %} {{ thread.thread_title }} {% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sub_forum.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'thread.css' %}"/>
{% endblock %}
{% block links %}
{% with thread.subforum as subforum %}
/<a href="{% url 'forum:category' subforum.category.id %}">{{ subforum.category.title }}</a>/
<a href="{% url 'forum:sub_forum' subforum.id %}?page=1">{{ subforum.title }}</a>
{% endwith %}
{% endblock %}
{% block body %}
<div id="body">
    <h1>{{ thread.thread_title }}</h1>
    <ul class="unattached">
        {% for p in posts %}
        <li class="thread">
            <div class="profile">
                {% with p.user.userprofile.avatar as user_avatar %}
                {% if user_avatar %}
                <img src="{{user_avatar.url }}" alt="Avatar"/>
                {% else %}
                <img src="{% static 'avatar.jpg' %}" alt="Avatar"/>
                {% endif %}
                {% endwith %}
                <br/>
                <a class="nick" href="{% url 'forum:profile' p.user.id %}">{{ p.user.username }}</a><br/>
                <a class="messages" href="http://hellkeeper.net/images/tutoriaux/terrainu2/terrainu26.jpg">
                    Messages: {{ p.user.post_set.count }}</a>
            </div>
            <div class="message">
                <span class="date" id="{{ p.id }}"><a href="#{{ p.id }}">{{ p.pub_date }}</a></span><br/>
                <div class="text">{{ p.full_text|safe|linebreaksbr }}</div>
                {% if p.user.userprofile.signature %}
                <p class="sign">{{ p.signature|safe|linebreaksbr }}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated and request.user.is_active %}
    <form id="post" class="post" action="{% url 'forum:thread' thread.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.full_text.errors }}
        {{ form.full_text.label_tag }}<br/>
        {{ form.full_text }}<br/>
        <input class="excluded" type="submit" value="Submit"/>
    </form>
    {% endif %}
</div>
{% include 'forum/paginator.html' %}
{% endblock %}