{% extends "forum/main_page.html" %}
{% block title %}{{ thread.thread_title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sub_forum.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'thread.css' %}"/>
{% endblock %}
{% block links %}
{% with thread.subforum as subforum %}
/<a href="{% url 'forum:category' subforum.category.id %}">{{ subforum.category.title }}</a>/
<a href="{% url 'forum:sub_forum' subforum.id %}?page=1">{{ subforum.title }}</a>
{% endwith %}
{% endblock %}
{% block body %}
<div id="body">
    <h1>{{ thread.thread_title }}</h1>
    <ul class="unattached">
        {% for p in posts %}
        <li class="thread">
            <div class="profile">
                {% with p.user.userprofile.avatar as user_avatar %}
                {% if user_avatar %}
                <img src="{{user_avatar.url }}" alt="Avatar"/>
                {% else %}
                <img src="{% static 'avatar.jpg' %}" alt="Avatar"/>
                {% endif %}
                {% endwith %}
                <br/>
                <a class="nick" href="{% url 'forum:profile' p.user.id %}">{{ p.user.username }}</a><br/>
                <a class="messages" href="{% url 'forum:search' %}?user={{ p.user.username }}&search_by=pt&sort_by=p">
                    Messages: {{ p.user.post_set.count|add:p.user.thread_set.count }}</a>
            </div>
            <div class="message">
                <span class="date" id="{{ p.id }}">
                    <a href="#{{ p.id }}">{{ p.pub_date|date:"N j, Y, H:i" }}</a>
                </span>
                {% if p.thread_title %}
                {% include 'forum/rating_form.html' with obj='thread' id=p.id rating=p.rating %}
                {% else %}
                {% include 'forum/rating_form.html' with obj='post' id=p.id rating=p.rating %}
                {% endif %}
                <br/>
                <div class="text">{{ p.full_text|safe|linebreaksbr }}</div>
                {% if p.user.userprofile.signature %}
                <div class="sign">{{ p.signature|safe|linebreaksbr }}</div>
                {% endif %}
            </div>
            {% if p.user.id == request.user.id %}
            <div class="m_options">
                {% if p.thread_title %}
                <a class="edit button" href="{% url 'forum:edit_thread' p.id %}">Edit</a>
                {% else %}
                <a class="edit button" href="{% url 'forum:edit_post' p.id %}">Edit</a>
                {% endif %}
                    </div>
            {% endif %}
            {% comment %}
            <table class="message">
                <tr>
                    <td>
                        <span class="date" id="{{ p.id }}">
                    <a href="#{{ p.id }}">{{ p.pub_date|date:"N j, Y, H:i" }}</a>
                </span>
                    </td>
                </tr>
                <tr>
                    <td><div class="text">{{ p.full_text|safe|linebreaksbr }}</div></td>
                </tr>
                {% if p.user.id == request.user.id %}
                <tr>
                    <td class="m_options">
                {% if p.thread_title %}
                <a class="edit button" href="{% url 'forum:edit_thread' p.id %}">Edit</a>
                {% else %}
                <a class="edit button" href="{% url 'forum:edit_post' p.id %}">Edit</a>
                {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if p.user.userprofile.signature %}
                <tr>
                    <td class="sign">
                        {{ p.signature|safe|linebreaksbr }}
                    </td>
                </tr>
                {% endif %}
            </table>
            {% endcomment %}
        </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated and request.user.is_active %}
    <form id="post" class="post" action="{% url 'forum:thread' thread.id %}" method="post">
        {% csrf_token %}
        {% include 'forum/post_form.html' %}
        <input class="excluded" type="submit" value="Submit"/>
    </form>
    {% endif %}
</div>
{% include 'forum/paginator.html' %}
{% endblock %}