{% extends 'forum/main_page.html' %}
{% block title %}{{ user.username }} | Profile{% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sub_forum.css' %}"/>
<style>
    ul.subforum {
    }
    ul.subforum li:nth-of-type(2) {
    border-top: none;
    }
    ul.subforum li:first-of-type {
    border-top: 3px solid rgba(255, 165, 0, 0.5);
    }
    ul.subforum li.stats {
    border-top: 10px solid rgba(255, 165, 0, 0.5);
    margin-top: 10px;
    }
    div.menu a, span {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: center;
    padding: 7px;
    }
    ul p {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    padding: 3px 8px;
    margin-right: 20px;
    }
    ul.threads li{
    padding: 5px 10px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    }
    ul.threads li.header {
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    padding: 5px 10px;
    margin-bottom: 2px;
    border: none;
    }
    ul.threads{
    list-style-type: none;
    margin: 15px 20px 15px 0;
    padding: 0;
    }
    ul.threads li a {
    font-size: 14px;
    display: block;
    }
    ul.threads li.header a {
   font-size: 18px;
    }
    ul.threads li.header:hover {
    background-color: rgb(147, 55, 237);
    }
    ul.threads li:nth-of-type(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    }



</style>
{% endblock %}
{% block body %}
<div class="content">
    <ul class="subforum">
        <li>
            {% if user_profile.avatar %}
            <img src="{{ user_profile.avatar.url }}"/>
            {% endif %}
            <h2>Username: {{ user.username }}</h2>
            {% if request.user.id == user.id %}
            <p>Email: {{ user.email }}</p>
            {% if email_confirm %}
            {% include 'forum/confirmation_form.html' with url='forum:profile' %}
            {% endif %}
        </li>
        <li>
            <div class="menu">
                <a class="button" href="{% url 'forum:change_info' %}">Change information</a>
                <a class="button" href="{% url 'forum:change_avatar' %}">Change avatar</a>
                <a class="button" href="{% url 'forum:change_email' %}">Change email</a>
                <span>Change password</span></div>
            {% endif %}
        </li>
        {% block info %}
        <li class="info">
            <h3>User information:</h3>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Signature: {{ user_profile.signature }}</p>
        </li>
        <li class="stats">
            <h3>User statistics:</h3>
            <p>Registration date: {{ user.date_joined }}</p>
            <p>Last login: {{ user.last_login }}</p>
            <ul class="threads">
            <li class="header"><a href="{% url 'forum:thread' 10 %}?page=1">Threads ({{ thread_count }})</a></li>
                {% for t in last_threads %}
                <li>
                    <a href="{% url 'forum:thread' t.id %}?page=1">{{ t.thread_title }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="threads">
            <li class="header"><a href="{% url 'forum:thread' 10 %}?page=1">Posts ({{ post_count }})</a></li>
                {% for p in last_posts %}
                {% if not p.is_thread %}
                <li>
                    <a href="{{ p.get_absolute_url }}">{{ p.thread.thread_title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endblock info %}
{% endblock %}